window {
    font-size: 28px;
    font-family: "'Hack Nerd Font', 'Droid Sans Mono', 'monospace', monospace";
    background-color: rgba(0, 43, 51, 0.85);
    color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

#input {
    font-size: 24px;
    margin: 10px;
    padding: 5px;
    padding-left: 12px;
    border-radius: 5px;
    color: black;
    caret-color: black;
    background-color: #F2F0EF;
}

#inner-box {
    margin: 10px;
    background-color: transparent;
}

#outer-box {
    background: transparent;
    margin: 5px;
}

#scroll {
    background-color: transparent;
}

#text {
    font-weight: medium;
}

#entry:not(:first-child) {
    margin-top: 4px;
}

#entry:selected {
    background-color: transparent;
    border-radius: 5px;
} 

image {
    margin-right: 10px;
}