* {
    font-family: "FiraCode Nerd Font", "Ubuntu Nerd Font", monospace;
    border: none;
    font-size: 14px;
    color: #cdd6f4;
    border-radius: 8px;
}

window#waybar {
    background: transparent;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: #1e1e2e;
}

.modules-right {
    margin: 5px 5px 0 5px ;
}

.modules-center {
    padding: 0 10px;
    margin: 5px 5px 0 5px ;
}

.modules-left {
    margin: 5px 5px 0 5px ;
}

/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: #89b4fa;
}

#workspaces button.active {
    background-color: #f38ba8;
}

#sway,
#clock,
#battery,
#network,
#pulseaudio,
#custom-power,
#custom-launcher {
    padding: 0 10px;
}

#custom-power,
#custom-launcher {
    margin-right: 5px;
}

/*-----Indicators----*/
#pulseaudio.muted {
    color: #f38ba8;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
}
