window {
    font-family: monospace;
    font-size: 24pt;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    margin: 10px;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}