* {
    font-family: "FiraCode Nerd Font", monospace;
    border: none;
    font-size: 14px;
    color: @text;
    border-radius: 8px;
}

window#waybar {
    background: transparent;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @base;
}

.modules-right {
    margin: 2px 10px 0 0;
}

.modules-center {
    padding: 0 10px;
    margin: 2px 0 0 0;
}

.modules-left {
    margin: 2px 0 0 10px;
}

/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: @blue;
}

#workspaces button.active {
    background-color: @red;
}

#hyprland-window,
#clock,
#battery,
#network,
#pulseaudio,
#custom-power,
#custom-launcher {
    padding: 0 10px;
}

/*-----Indicators----*/
#pulseaudio.muted {
    color: @red;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}